%h4= model.project_title
%p= model.project_summary
.pairs
  .key= "Main Contact"
  .value= model.applicant
  %span.actions
    = link_to 'Connect', edit_loi_path(model, :connect_user => 1), :class => 'to-modal', 'data-on-success' => 'close,populateField'
.pairs
  .key= "Organization"
  .value= model.organization
  %span.actions
    = link_to 'Connect', edit_loi_path(model, :connect_organization => 1), :class => 'to-modal', 'data-on-success' => 'close,populateField'

.pairs
  .key= "Contact Address"
  .value= model.email

.pairs
  .key= "Contact Phone"
  .value= model.phone

.pairs
  .key= "Mailing Address"
  .value= model.address

.pairs
  .key= "Program"
  .value= #model.program.name if model.program
