%fieldset.inputs
  %ol
    = form.input :applicant
    = form.input :organization
    = form.input :email
    = form.input :phone
    = form.input :address, :label => 'Mailing Address'
    = form.input :project_title
    = form.input :project_summary

  = form.commit_button
