%fieldset.inputs
  %ol
    = form.input :applicant, :label => "Your Name"
    = form.input :organization_name, :label => "Applicant/Organization Name"
    = form.input :email
    = form.input :phone
    = form.input :address, :label => 'Mailing Address'
    = form.input :project_title
    = form.input :project_summary
  
  = link_to "Cancel", login_path
  = form.commit_button
