.content
  .title= "Create a Grant Request"
  .padded-container
    = render :partial => "org_lookup", :locals => { :model => model, :form => form, :org_lookup_name => :program_organization_lookup, :org_name => :program_organization, :org_owner => :grantee_org_owner, :org_signatory => :grantee_signatory, :labels => defined?(labels) ? labels : {} }
    %fieldset.inputs
      %ol
        = form.input :amount_requested, :label => "Amount Requested"

        = render :partial => "program",  :locals => { :model => model, :form => form }

        = form.input :project_summary, :label => "Project Summary", :as => :text

        - unless model.in_new_state?
          = render :partial => "model_documents/list_model_documents", :locals => { :model => model}
          - if model.program_organization
            = render :partial => "model_documents/list_model_documents", :locals => { :model => model.program_organization}

    %input{:type => 'submit', :name => 'commit', :class => 'button create float_right', :value => 'Create Grant Request'}
    %input{:type => 'submit', :name => 'cancel', :class => 'button create open-link float_right', :value => 'Cancel', 'data-href'.to_sym => grantee_portal_index_path}