.container
  .titlebar
    %h4
      = raw render_grant_or_request_id model
      %input{:type => 'submit', :name => 'cancel', :class => 'button create open-link float_right', :value => 'Back', 'data-href'.to_sym => grantee_portal_index_path}
  .content
    %h1
      = raw render_program_name model
      = raw render_grant_or_request_id model
    %h4.subhead= raw render_request_or_grant_amount model
    - unless model.project_summary.blank?
      %p
      = simple_format(model.project_summary)
    - warnings = []
    - warnings << 'This grant is funding general operating support.' if model.funding_general_operating_support
    - warnings << 'This grant requires direct board authority.' if model.board_authorization_required
    - warnings << 'This grant is a renewal.' if model.renewal_grant
    - warnings.each do |warning|
      %div.warning
        = warning
    %div.partial
      - if model.is_a? FipRequest
        .pairs
          .key= I18n.t(:fip_name) + ' Type:'
          .value= model.fip_type if model.fip_type
      .pairs
        .key Status:
        .value.with-more-info
          = model.state_to_english
      .pairs
        .key Request Submitted:
        .value= model.request_received_at.mdy if model.request_received_at
      .pairs
        .key Final Proposal Date:
        .value= model.ierf_proposed_end_at.mdy if model.ierf_proposed_end_at
      .pairs
        .key Final Budget Date:
        .value= model.ierf_budget_end_at.mdy if model.ierf_budget_end_at
      .pairs
        .key Tax Status:
        .value= model.program_organization.tax_class.value if model.program_organization && model.program_organization.tax_class
      - if model.is_grant?
        .pairs
          .key Agreement Date:
          .value= model.grant_agreement_at.mdy if model.grant_agreement_at
        .pairs
          .key Grant Start Date:
          .value= model.grant_begins_at.mdy if model.grant_begins_at
        .pairs
          .key Grant End Date:
          .value= model.grant_ends_at.mdy if model.grant_ends_at
      - if model.is_a? GrantRequest
        .pairs
          .key Duration:
          .value= "#{model.duration_in_months} months" if model.duration_in_months
      - elsif model.is_a? FipRequest
        .pairs
          .key Projected End Date:
          .value= model.fip_projected_end_at.mdy if model.fip_projected_end_at

    %div.partial
      .pairs
        .key Main Contact:
        .value
          = model.grantee_org_owner.full_name if model.grantee_org_owner
      - unless FLUXX_CONFIGURATION[:hide_program]
        .pairs
          .key= "#{I18n.t(:program_name)}:"
          .value= model.program.name if model.program
      - unless FLUXX_CONFIGURATION[:hide_sub_program]
        .pairs
          .key= "#{I18n.t(:sub_program_name)}:"
          .value= model.sub_program.name if model.sub_program
      - if model.secondary_programs
        .pairs
          .key= "Secondary #{(I18n.t(:program_name)).pluralize}:"
          .value= model.secondary_programs.map(&:name).to_sentence
      .pairs
        .key Lead Program Officer/Director:
        .value= model.program_lead.full_name if model.program_lead
      .pairs
        .key Primary Signatory:
        .value= model.grantee_signatory.full_name if model.grantee_signatory
      .pairs
        .key Request Created By:
        .value= "#{model.created_by.full_name if model.created_by} (#{model.created_at.mdy if model.created_at})"

    %div.partial
      .pairs
        .key Amount Requested:
        .value= number_to_currency(model.amount_requested, :precision => 0) if model.amount_requested
      .pairs
        .key Amount Recommended:
        .value= number_to_currency(model.amount_recommended, :precision => 0) if model.amount_recommended
      - if model.is_grant?
        .pairs
          .key Amount Paid to Date:
          .value= number_to_currency(model.amount_funded, :precision => 0) if model.amount_funded
          
    = render :partial => "request_funding_sources/list_request_funding_sources", :locals => { :model => model}
    %div.partial
      = render :partial => "grant_requests/grant_request_show_relationships", :locals => { :model => model}

    %div.partial
      %h3= "#{model.is_grant? ? "Grant" : "Request"} Details"
      .pairs
        .key Funds Expended:
        .value
          - if model.funds_expended_amount
            = number_to_currency(model.funds_expended_amount, :precision => 0)
            = " on #{model.funds_expended_at.mdy}" if model.funds_expended_at
      .pairs
        .key= "Initiative #{plural_by_list model.initiative_types, 'Type', 'Types'}:"
        .value= model.initiative_types.map(&:value).join(', ')
      .pairs
        .key= "#{plural_by_list model.constituents, 'Constituent', 'Constituents'}:"
        .value= model.constituents.map(&:value).join(', ')
      .pairs
        .key= "#{plural_by_list model.usa_means, 'Means', 'Means'}:"
        .value= model.usa_means.map(&:value).join(', ')
      .pairs
        .key= "#{plural_by_list model.china_means, 'Type', 'Types'} of Organization:"
        .value= model.china_means.map(&:value).join(', ')
.container
  .reports{"data-src".to_sym => grantee_portal_index_path({:table => "reports", :page => 1})}
    = render :partial => "grantee_portal/report_list", :locals => {:@data => @reports}
    
.container
  .transactions= render :partial => "grantee_portal/transaction_list", :locals => {:@data => @transactions}
  
%input{:type => 'submit', :name => 'cancel', :class => 'create open-link', :value => 'Back', 'data-href'.to_sym => grantee_portal_index_path}