- @data = Dir.glob("#{Rails.root}/public/documents/*.pdf").map{|filename| filename.gsub("#{Rails.root}/public/documents/", '')}.sort.paginate

.titlebar
  %h4
    Documents
.content
- if @data.count == 0
  %p.caption="No Documents"
- else
  %table{:cellspacing => 0}
    %thead
      %tr
        %th
          Additional Forms
    %tbody
    -@data.each do |filename|
      %tr
        %td
          - name = filename.humanize.gsub('.pdf', '')
          = link_to name, "/documents/#{filename}", :target => "_blank", :class => "file-type file-type-pdf"
  = render :partial => "grantee_portal/paging_actions"
